---
import DownloadButton from "./DownloadButton.astro"
import SocialsButton from "./SocialsButton.astro"
---

<div class="flex flex-wrap gap-6 justify-center">
    <DownloadButton />
    <SocialsButton name="Source Code" link="github.com" icon="/icons/code.svg"/>
</div>