<div class="m-8 mt-10 p-5 max-w-[80%] bg-background-secondary rounded-md">
    <!-- features -->
    <h1 class="mb-1 text-2xl text-center font-bold">Features</h1>
    <ul class="list-disc list-outside space-y-2 pl-5">
        <li>Arch based.</li>
        <li>Simple installer that gives option to setup bluetooth, wifi and drivers automatically, plus a few options for window managers.</li>
        <li>Optional nice defaults for window managers, to use as a base for your customisation.</li>
    </ul>
</div>