<a href="/nihilist.iso" download class="flex justify-center gap-2 px-6 py-3 bg-background-secondary
    rounded-md text-text-secondary font-bold hover:text-text-primary"
">
    <img src="/icons/download.svg" alt="icon" class="w-5 h-5" />
    Download
</a>